.DS_Store
.coverage
/.vscode
/PITCHME.html
/PITCHME.pdf
/PITCHME.pptx
/cdk.out
/lambdas/sustainable_personal_accounts.egg-info
/media/.$*
/node_modules
/lambdas.out
/package-lock.json
/settings
/venv
